html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    max-width: 100%;
}

p{
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 5px;
}
.site-header img{
    margin-top: 10px;
}
/* NAVEGACION RESP*/

.barra{
    overflow: hidden;
}

.mobile-menu{
    color: #fff;
    font-size: 2rem;
    display: block;
    text-align: center;
    padding: 20px 0;
}

#nav:target{
    max-height: 800px;
}

.navegacion-principal{
    max-height: 0;
    transition: 0.5s;
}

@media (min-width: 768px) {

    .navegacion-principal{
        max-height: unset;
    }

    
    .cerrar,.mobile-menu{
        display: none!important;
    }
}
.boton{
    background: #00b8e4;
    padding: 10px 35px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    margin: 35px 0 10px 0;
    transition: .4s ease-in-out;
}

.boton:hover{
    background: #00718d;
}

.contenedor{
    max-width: 1000px;
    margin: 0 auto;
}
.clearfix::after{
    content: '';
    clear: both;
    display: block;
}

.site-header{
    padding: 20px 0;
}

.barra{
    background: #db008d;
    margin-top: 35px;
}

.navegacion-principal a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 20px;
}
@media (min-width: 768px) {
    .navegacion-principal a{
        display: inline-block ;
    }
}

.navegacion-principal a:hover{
    background: #00b8e4;
}

.contenido-principal{
    padding: 25px;
}
.sidebar{
    padding: 0 25px 25px 25px;
}
/* Contenedores principales */



@media (min-width: 768px) {
    .contenido-principal{
    width: 70%;
    float: left;
    padding-right: 20px;
}

.sidebar{
    width: 30%;
    margin-top: 35px;
    float: right;
}
}

/* entradas */

h2{
    color: #00b8e4;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.entrada{
    margin-top: 50px;
    padding-bottom: 40px;
    border-bottom: 1px solid hsla(321, 100%, 22%, 0.5);
}

@media (min-width: 768px) {
    .entrada:last-of-type{
        border-bottom: none;
    }

    
}

.entrada h2{
        padding-bottom: 25px;
    }

.entrada img{
    display: block;
}

@media (min-width: 480px) {
    .entrada img{
        width: 300px;
        float: left;
        margin:0 25px 15px 0;
    }
}

.entrada p{
    text-align: justify;
}

/* SIDEBAR */

.sidebar ul{
    list-style: none;
    padding: 0;
}

.sidebar ul li{
    padding: 10px;
}

.sidebar ul li:hover{
    background: #00b8e4;
}

.sidebar ul li a{
    color: #00b8e4;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.sidebar ul li:hover a{
    color: #fff;
}

/* FOOTER SITIO */

.footer-sitio{
    background: #db008d;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 0px;
}

.footer-sitio h2,.footer-sitio p{
    color: #fff;
}

.footer-sitio .menu h2{
    display: none;
}

.footer-sitio .menu nav{
    padding: 20px 0;
}

.footer-sitio a{
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-sitio a:last-of-type{
    margin-right: 0;
}

@media (min-width: 768px) {

    .footer-sitio .menu h2{
        display: inline-block;
    }

    .footer-sitio .nosotros{
        float: left;
        width: 40%;
        text-align: left;
    }

    .footer-sitio .menu{
        float: right;
        width: 50%;
        margin-bottom: 20px;
        text-align: right;
    }
}

.copy{  
    background: #660042;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0;
}